{{!< admin }}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    	<div class="x_panel">
    		<div class="x_title">
    			<h2>All Users<small>Show all registered users</small></h2>
    			<ul class="nav navbar-right panel_toolbox">
    				<li><a href="/admin/user/new" class="btn btn-default">Add <i class="fa fa-plus"></i></a>
    				</li>
    			</ul>
    			<div class="clearfix"></div>
    		</div>
    		<div class="x_content">
                <input type="text" id="_csrf" name="_csrf" value="{{_csrf}}" hidden="hidden" style="display: none;">
    			<table class="table table-hover">
    				<thead>
    					<tr>
    						<th>#</th>
    						<th>Fullname</th>
                            <th>Email</th>
    						<th>Is Admin</th>
                            <th>Created At</th>
                            <th>Actions</th>
    					</tr>
    				</thead>
    				<tbody>
                        {{#each users}}
    					<tr id="{{_id}}">
    						<th scope="row">{{inc @index}}</th>
                            <td><a href="/admin/user/{{_id}}">{{firstName}} {{lastName}}</a></td>
                            <td>{{email}}</td>
                            <td>
                                <div class="">
                                <label>
                                  <input type="checkbox" class="js-switch" {{#if isAdmin}}checked{{/if}} data-disabled="true" hidden>
                                </label>
                            </td>
    						<td>{{millisecondsToDate createdAt}}</td>
                            <td>
                                <a href="/admin/user/{{_id}}" class="btn btn-default"><i class="fa fa-gear"></i></a>
                                <button class="btn btn-default" onclick="confirmRemoveDialog('{{_id}}', '{{firstName}}', '{{lastName}}')"><i class="fa fa-trash"></i></button>
                            </td>
    					</tr>
                        {{/each}}
    				</tbody>
    			</table>

                {{> admin/pagination }}
    		</div>
    	</div>
    </div>
</div>

<div id="removeConfirmDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Do you want to remove this user?</h4>
            </div>
            <div class="modal-body">
                <h4>Ops! You try to remove user
                    <strong id="removingObjectTitle"></strong>!</h4>
                <p>Click Delete to remove it now or Cancel to go back.</p>
                <input id="removingObjectId" hidden style="display: none;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="removeUser()">Delete</button>
            </div>
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
<script src="/static/admin/js/switchery.min.js"></script>
<script>
var csrfToken = $('#_csrf').val();
function confirmRemoveDialog(userId, firstName, lastName) {
    $('#removingObjectId').val(userId);
    $('#removingObjectTitle').html(firstName + ' ' + lastName);
    $('#removeConfirmDialog').modal();
}
function removeUser() {
    var userId = $('#removingObjectId').val();
    if (userId) {
        var data = {
            objectId: userId,
            _csrf: csrfToken,
        };
        $.ajax({
            url: '/admin/ajax/user/remove',
            type: 'POST',
            data: data,
            processData: true,
            success: function(res) {
                $('#removeConfirmDialog').modal('hide');
                if (res.status === 'ok') {
                    $('#' + userId).remove();
                    $('#messages').html(
                        '<div class="alert alert-success alert-dismissible fade in" role="alert">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>' +
                            '<strong>Success! </strong>' + res.message +
                        '</div>'
                    );
                } else {
                    // show error
                    $('#messages').html(
                        '<div class="alert alert-danger alert-dismissible fade in" role="alert">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>' +
                            '<strong>Error! </strong>' + res.message +
                        '</div>'
                    );
                }
            },
            error: function(err) {
                $('#removeConfirmDialog').modal('hide');
                $('#messages').html(
                    '<div class="alert alert-danger alert-dismissible fade in" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>' +
                        '<strong>Error! </strong>' + err.message +
                    '</div>'
                );
            }
        });
    }
}
</script>
{{/contentFor}}
