<article>
    <span class="image fit">
        <img src="{{image}}">
    </span>
    <a href="/post/{{slug}}"><h2>{{title}}</h2></a>
    <span><em>{{author.firstName}} {{author.lastName}}</em></span>
    <p>{{description}}</p>
</article>
<hr>
