{{#each posts}}
<article>
    <span class="image fit">
        <img src="/static/home/images/pic13.jpg">
    </span>
    <a href="/post/{{slug}}"><h2>{{title}}</h2></a>
    <span><em>{{author.firstName}} {{author.lastName}}</em></span>
    <p>{{description}}</p>
</article>
<hr>
{{/each}}
