{{!< admin }}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    	<div class="x_panel">
    		<div class="x_title">
    			<h2>All Posts <small>Show all posts created by users</small></h2>
    			<ul class="nav navbar-right panel_toolbox">
    				<li><a href="/admin/post/new" class="btn btn-default"><i class="fa fa-plus"></i> Add</a>
    				</li>
    			</ul>
    			<div class="clearfix"></div>
    		</div>
    		<div class="x_content">
                <input type="text" id="_csrf" name="_csrf" value="{{_csrf}}" hidden="hidden" style="display: none;">
    			<table class="table table-hover">
    				<thead>
    					<tr>
    						<th>#</th>
    						<th>Title</th>
                            <th>Slug</th>
    						<th>Author</th>
                            <th>Published At</th>
                            <th>Categories</th>
    						<th>Actions</th>
    					</tr>
    				</thead>
    				<tbody>
                        {{#each posts}}
    					<tr id="{{_id}}">
    						<th scope="row">{{inc @index}}</th>
                            <td><a href="/admin/post/{{_id}}">{{title}}</a></td>
                            <td><a href="/post/{{slug}}">{{slug}}</a></td>
    						<td><a href="/admin/user/{{author._id}}">{{author.firstName}} {{author.lastName}}</a></td>
    						<td>
                                {{#if isPublished}}
                                {{millisecondsToDate publishedAt}}
                                {{else}}
                                None
                                {{/if}}
                            </td>
                            <td>
                                {{#each categories}}
                                <a href="/category/{{slug}}">{{name}}</a>&nbsp;
                                {{else}}
                                None
                                {{/each}}
                            </td>
                            <td>
                                <a href="/admin/post/{{_id}}" class="btn btn-default"><i class="fa fa-gear"></i></a>
                                <button type="button" class="btn btn-default" onclick="showConfirmDialog('{{_id}}', '{{title}}')"><i class="fa fa-trash"></i></button>
                            </td>
    					</tr>
                        {{/each}}
    				</tbody>
    			</table>
                <div id="removeConfirmDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title">Do you want to remove this post?</h4>
                        </div>
                        <div class="modal-body">
                          <h4>Ops! You try to remove post <strong id="removingPostTitle"></strong>!</h4>
                          <p>Click Delete to remove it now or Cancel to go back.</p>
                          <input id="removingPostId" hidden style="display: none;">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-danger" onclick="removePost()">Delete</button>
                        </div>

                      </div>
                    </div>
                </div>
    		</div>
    	</div>
    </div>
</div>
{{#contentFor "pageScripts"}}
<script src="/static/admin/js/switchery.min.js"></script>
<script>
    var csrfToken = $('#_csrf').val();
    function showConfirmDialog(postId, postTitle) {
        $('#removingPostTitle').html(postTitle);
        $('#removingPostId').val(postId);
        $('#removeConfirmDialog').modal();
    }
    function removePost() {
        var postId = $('#removingPostId').val();
        if (postId) {
            var data = {
                _id: postId,
                _csrf: csrfToken,
            };
            $.ajax({
                url: '/admin/post/remove',
                type: 'POST',
                data: data,
                processData: true,
                success: function(res) {
                    $('#removeConfirmDialog').modal('hide');
                    if (res.status === 'success') {
                        $('#' + postId).remove();
                        $('#messages').html(
                            '<div class="alert alert-success alert-dismissible fade in" role="alert">' +
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>' +
                                '<strong>Success! </strong>' + res.message +
                            '</div>'
                        );
                    } else {
                        // show error
                        $('#messages').html(
                            '<div class="alert alert-danger alert-dismissible fade in" role="alert">' +
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>' +
                                '<strong>Error! </strong>' + res.message +
                            '</div>'
                        );
                    }
                },
                error: function(err) {
                    $('#removeConfirmDialog').modal('hide');
                    $('#messages').html(
                        '<div class="alert alert-danger alert-dismissible fade in" role="alert">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>' +
                            '<strong>Error! </strong>' + res.message +
                        '</div>'
                    );
                }
            });
        }
    }
</script>
{{/contentFor}}
